@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    --main-bg-color: rgb(221, 221, 221);
    --font: 'Oswald', 'Courier New', Courier, monospace;
    --orange: #FF6633;
    --orange-hover: #ff8056;
    --green: #999966;
    --green-hover: #b6b686;
    --blue: #336666;
    --blue-hover: #498383;
}
body {
    background: var(--main-bg-color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {font-weight: 350; margin: 0;}
h2 {font-weight: 350; margin: 0;}
p {font-weight: 350; margin: 0;}

#app {
    position: relative;
    width: 1140px;
    overflow: hidden;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.header h1 {
    font-size: 22px;
    color: var(--green);
}
.header h1:nth-child(odd) {
    cursor: pointer;
}
.header h1:nth-child(odd):hover {
    color: var(--green-hover);
}
.header img {
    margin: 0 0 0 auto;
    height: 60%;
    width: auto;
    object-fit: contain;
}
.headerMobile {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    display: none;
    margin-bottom: 10px;
}
.headerMobile img {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.headerMobile .burger {
    height: 70%;
}
.headerMobileMenuHide {
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.5s;
}
.headerMobileMenuShow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    opacity: 1;
    background: var(--main-bg-color);
}
.headerMobileMenuClose {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerMobileMenuClose p {
    font-size: 40px;
    color: var(--blue)
}
.headerMobileMenuClose:hover p {
    color: var(--blue-hover)
}
.headerMobileMenuList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.headerMobileMenuList h1 {
    font-size: 40px;
    color: var(--blue);
    margin: 10px 0;
}
.headerMobileMenuList:hover h1 {
    color: var(--blue-hover);
}
.headerPicture {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}
.headerPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headerPicture h1 {
    z-index: 2;
    top: 29px;
    left: 721px;
    position: absolute;
    font-size: 43px;
    color: var(--blue);
    line-height: 1.4;
}
.headerPicture h2 {
    z-index: 2;
    bottom: 10px;
    left: 721px;
    position: absolute;
    font-size: 26px;
    color: var(--blue);
    line-height: 1.4;
}
.content {
    width: 100%;
}
.item {
    position: relative;
    width: 100%;
}
.itemName {
    height: 130px;
    width: auto;
    display: flex;
    align-items: center;
}
.itemName h1 {
    font-size: 45px;
    color: var(--green);
    white-space: nowrap;
    line-height: 100%;
}
.itemLine {
    margin: 16px auto 0 auto;
    width: 100%;
    height: 0;
    border: 1px solid var(--orange);
}
.itemMain {
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: space-between
}
.item:nth-child(even) .itemName {
    flex-direction: row-reverse
}
.item:nth-child(even) .itemMain {
    flex-direction: row-reverse
}
.itemMain img{
    width: 360px;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
    transition: 1s;
}
.scale {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
}
.itemMain img:hover {
    scale: 1.1;
}
.itemMainCard {
    position: relative;
    width: 738px;
    height: 100%;
}
.itemMainCard p {
    color: black;
    font-size: 18px;
    font-weight: 400;
}
.itemMainCard h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 39px;
    color: var(--green);
}
.buyButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 118px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
}
.buyButton p {
    color: white;
    font-size: 27px;
    font-weight: 350;
}
.buyButton:hover {
    background: var(--orange-hover);
}
.itemExtraPictures {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between
}
.itemExtraPictures img {
    width: 300px;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    transition: 1s;
}
.itemExtraPictures img:hover {
    scale: 1.1;
}
.aboutMeName {
    height: 130px;
    width: auto;
    display: flex;
    align-items: center;
}
.aboutMeName h1 {
    font-size: 55px;
    color: var(--blue);
    white-space: nowrap;
    line-height: 100%;
    margin-right: 20px;
    font-weight: 400;
}
.aboutMeContent {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutMeContent img {
    width: 420px;
    height: 100%;
    border-radius: 15px;
}
.aboutMeContent p {
    width: 680px;
    color: black;
    font-size: 18px;
    font-weight: 400;
}
.reviewName {
    height: 130px;
    width: auto;
    display: flex;
    align-items: center;
}
.reviewName h1 {
    font-size: 55px;
    color: var(--blue);
    white-space: nowrap;
    line-height: 100%;
    margin-right: 20px;
    font-weight: 400;
}
.review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.review:nth-child(odd) {
    flex-direction: row-reverse
}
.review img {
    width: 360px;
    height: 360px;
    object-fit: contain;
    border-radius: 15px;
}
.review p {
    width: 720px;
    color: black;
    font-size: 18px;
    font-weight: 400; 
}
.formBuyName {
    height: 130px;
    width: auto;
    display: flex;
    align-items: center;
}
.formBuyName h1 {
    font-size: 55px;
    color: var(--blue);
    white-space: nowrap;
    line-height: 100%;
    margin-right: 20px;
    font-weight: 400;
}
.formArea {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form {
    position: relative;
    width: 240px;
    min-height: 400px;
    padding: 20px 60px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(233, 233, 233);
}
.form input {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid grey;
    font-family: var(--font);
    font-weight: 350;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.form textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid grey;
    font-family: var(--font);
    font-weight: 350;
    font-size: 18px;
    resize: none;
    min-height: 150px;
    text-align: center;
}
.form .buyButton {
    transform: translateX(50%);
    bottom: 20px;
    right: 50%;
    width: 150px;
}
.form .buyButton p {
    font-size: 20px;
}
.formDescription {
    width: 720px;
}
.formDescription p {
    color: black;
    font-size: 18px;
    font-weight: 400; 
}
.socials {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
}
.social {
    position: relative;
    height: 100%;
}
.link {
    height: 100%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}
.link img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}
.link p {
    font-size: 18px;
}
a.link:active, /* активная/посещенная ссылка */
a.link:hover,  /* при наведении */
a.link {
  text-decoration: none;
  color: var(--blue);
}
.footer {
    position: relative;
    width: 100%;
    height: 50px;
    /* background: rgb(180, 180, 180);
    border-radius: 15px 15px 0 0; */
}
.itemMobile {
    display: none;
    width: 100%;
}
.itemMobileName {
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
}
.itemMobileName h1 {
    font-size: 25px;
    color: var(--green);
    white-space: nowrap;
    line-height: 100%;
}
.itemMobilePictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
.itemMobilePictures img {
    margin-bottom: 20px;
    width: 70vw;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}
.itemMobileDescription {
    width: 100%;
}
.itemMobileDescription p {
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.itemMobileBuy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemMobileBuy h1 {
    font-size: 25px;
    color: var(--green);
}
.itemMobileBuy .buyButton {
    position: relative;
    margin-top: 15px;
    width: 118px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
}
.itemMobileBuy .buyButton p {
    color: white;
    font-size: 20px;
    font-weight: 350;
}
.itemMobileLine {
    width: 100%;
    margin-top: 10px;
    border: 1px solid var(--orange);
    margin-bottom: 20px;
}
.completeBuy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--blue);
    width: 90%;
    font-size: 250%;
    text-align: center;
}

@media (min-width: 3000px) and (max-width: 4000px) {
    #app {
        width: 2280px;
    }
    .header {
        height: 200px;
    }
    .header h1 {
        font-size: 44px;
    }
    .headerPicture {
        height: 600px;
    }
    .headerPicture h1 {
        top: 60px;
        left: 1442px;
        font-size: 86px;
    }
    .headerPicture h2 {
        bottom: 20px;
        left: 1442px;
        font-size: 52px;
    }
    .itemName {
        height: 260px;
    }
    .itemName h1 {
        font-size: 90px;
    }
    .itemLine {
        border: 2px solid var(--orange);
    }
    .itemMain {
        height: 720px;
    }
    .itemMain img{
        width: 720px;
    }
    .itemMainCard {
        width: 1474px;
    }
    .itemMainCard p {
        font-size: 36px;
    }
    .itemMainCard h1 {
        font-size: 78px;
    }
    .buyButton {
        bottom: 10px;
        width: 240px;
        height: 90px;
    }
    .buyButton p {
        font-size: 50px;
    }
    .itemExtraPictures {
        margin-top: 100px;
        height: 600px;
    }
    .itemExtraPictures img {
        width: 600px;
    }
    .aboutMeName {
        height: 260px;
    }
    .aboutMeName h1 {
        font-size: 110px;
        margin-right: 40px;
    }
    .aboutMeContent {
        height: 1060px;
    }
    .aboutMeContent img {
        width: 840px;
    }
    .aboutMeContent p {
        width: 1360px;
        font-size: 36px;
    }
    .reviewName {
        height: 260px;
    }
    .reviewName h1 {
        font-size: 110px;
        margin-right: 40px;
    }
    .review {
        margin-bottom: 100px;
    }
    .review img {
        width: 720px;
        height: 720px;
    }
    .review p {
        width: 1440px;
        font-size: 36px;
    }
    .formBuyName {
        height: 260px;
    }
    .formBuyName h1 {
        font-size: 110px;
        margin-right: 40px;
    }
    .form {
        width: 480px;
        min-height: 800px;
        padding: 40px 120px;
    }
    .form input {
        padding: 10px 20px;
        font-size: 36px;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .form textarea {
        padding: 10px 20px;
        font-size: 36px;
        min-height: 300px;
        border-radius: 10px;
    }
    .form .buyButton {
        bottom: 40px;
        width: 300px;
    }
    .form .buyButton p {
        font-size: 40px;
    }
    .formDescription {
        width: 1440px;
    }
    .formDescription p {
        font-size: 36px;
    }
    .socials {
        bottom: 10px;
        height: 64px;
    }
    .link {
        margin-left: 60px;
    }
    .link img {
        margin-right: 20px;
    }
    .link p {
        font-size: 36px;
    }
    .footer {
        height: 100px;
    }
}
@media (min-width: 2000px) and (max-width: 3000px) {
    #app {
        width: 1710px;
    }
    .header {
        height: 150px;
    }
    .header h1 {
        font-size: 33px;
    }
    .headerPicture {
        height: 450px;
    }
    .headerPicture h1 {
        top: 45px;
        left: 1082px;
        font-size: 65px;
    }
    .headerPicture h2 {
        bottom: 15px;
        left: 1082px;
        font-size: 39px;
    }
    .itemName {
        height: 195px;
    }
    .itemName h1 {
        font-size: 68px;
    }
    .itemLine {
        border: 1px solid var(--orange);
    }
    .itemMain {
        height: 540px;
    }
    .itemMain img{
        width: 540px;
    }
    .itemMainCard {
        width: 1106px;
    }
    .itemMainCard p {
        font-size: 27px;
    }
    .itemMainCard h1 {
        font-size: 59px;
    }
    .buyButton {
        bottom: 8px;
        width: 180px;
        height: 68px;
    }
    .buyButton p {
        font-size: 38px;
    }
    .itemExtraPictures {
        margin-top: 75px;
        height: 450px;
    }
    .itemExtraPictures img {
        width: 450px;
    }
    .aboutMeName {
        height: 195px;
    }
    .aboutMeName h1 {
        font-size: 83px;
        margin-right: 30px;
    }
    .aboutMeContent {
        height: 795px;
    }
    .aboutMeContent img {
        width: 630px;
    }
    .aboutMeContent p {
        width: 1020px;
        font-size: 27px;
    }
    .reviewName {
        height: 195px;
    }
    .reviewName h1 {
        font-size: 83px;
        margin-right: 30px;
    }
    .review {
        margin-bottom: 75px;
    }
    .review img {
        width: 540px;
        height: 540px;
    }
    .review p {
        width: 1080px;
        font-size: 27px;
    }
    .formBuyName {
        height: 195px;
    }
    .formBuyName h1 {
        font-size: 83px;
        margin-right: 30px;
    }
    .form {
        width: 360px;
        min-height: 600px;
        padding: 30px 90px;
    }
    .form input {
        padding: 8px 15px;
        font-size: 27px;
        margin-bottom: 30px;
        border-radius: 8px;
    }
    .form textarea {
        padding:  8px 15px;
        font-size: 27px;
        min-height: 225px;
        border-radius: 8px;
    }
    .form .buyButton {
        bottom: 30px;
        width: 225px;
    }
    .form .buyButton p {
        font-size: 30px;
    }
    .formDescription {
        width: 1080px;
    }
    .formDescription p {
        font-size: 27px;
    }
    .socials {
        bottom: 8px;
        height: 48px;
    }
    .link {
        margin-left: 45px;
    }
    .link img {
        margin-right: 15px;
    }
    .link p {
        font-size: 27px;
    }
    .footer {
        height: 75px;
    }
}
@media (min-width: 1000px) and (max-width: 1500px) {
    #app {
        width: 855px;
    }
    .header {
        height: 75px;
    }
    .header h1 {
        font-size: 20px;
    }
    .headerPicture {
        height: 225px;
    }
    .headerPicture h1 {
        top: 22px;
        left: 541px;
        font-size: 33px;
    }
    .headerPicture h2 {
        bottom: 8px;
        left: 541px;
        font-size: 20px;
    }
    .itemName {
        height: 100px;
    }
    .itemName h1 {
        font-size: 34px;
    }
    .itemLine {
        border: 1px solid var(--orange);
    }
    .itemMain {
        height: 270px;
    }
    .itemMain img{
        width: 270px;
    }
    .itemMainCard {
        width: 553px;
    }
    .itemMainCard p {
        font-size: 15px;
    }
    .itemMainCard h1 {
        font-size: 30px;
    }
    .buyButton {
        bottom: 4px;
        width: 90px;
        height: 34px;
    }
    .buyButton p {
        font-size: 19px;
    }
    .itemExtraPictures {
        margin-top: 40px;
        height: 225px;
        width: 100%;
    }
    .itemExtraPictures img {
        width: 225px;
    }
    .aboutMeName {
        height: 100px;
    }
    .aboutMeName h1 {
        font-size: 40px;
        margin-right: 15px;
    }
    .aboutMeContent {
        height: 398px;
    }
    .aboutMeContent img {
        width: 315px;
    }
    .aboutMeContent p {
        width: 510px;
        font-size: 15px;
    }
    .reviewName {
        height: 100px;
    }
    .reviewName h1 {
        font-size: 40px;
        margin-right: 15px;
    }
    .review {
        margin-bottom: 37px;
    }
    .review img {
        width: 270px;
        height: 270px;
    }
    .review p {
        width: 540px;
        font-size: 15px;
    }
    .formBuyName {
        height: 100px;
    }
    .formBuyName h1 {
        font-size: 40px;
        margin-right: 15px;
    }
    .form {
        width: 180px;
        min-height: 300px;
        padding: 15px 45px;
    }
    .form input {
        padding: 4px 7px;
        font-size: 15px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
    .form textarea {
        padding:  4px 7px;
        font-size: 15px;
        min-height: 112px;
        border-radius: 4px;
    }
    .form .buyButton {
        bottom: 10px;
        width: 112px;
    }
    .form .buyButton p {
        font-size: 15px;
    }
    .formDescription {
        width: 540px;
    }
    .formDescription p {
        font-size: 15px;
    }
    .socials {
        bottom: 4px;
        height: 24px;
    }
    .link {
        margin-left: 24px;
    }
    .link img {
        margin-right: 7px;
    }
    .link p {
        font-size: 15px;
    }
    .footer {
        height: 50px;
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    #app {
        width: 600px;
    }
    .header {
        height: 70px;
    }
    .header h1 {
        font-size: 20px;
    }
    .headerPicture {
        height: 150px;
    }
    .headerPicture h1 {
        top: 10px;
        left: 370px;
        font-size: 20px;
    }
    .headerPicture h2 {
        bottom: 5px;
        left: 370px;
        font-size: 15px;
    }
    .itemName {
        height: 70px;
    }
    .itemName h1 {
        font-size: 20px;
    }
    .itemLine {
        margin-top: 7px;
        border: 1px solid var(--orange);
    }
    .itemMain {
        height: 200px;
    }
    .itemMain img{
        width: 200px;
    }
    .itemMainCard {
        width: 370px;
    }
    .itemMainCard p {
        font-size: 10px;
    }
    .itemMainCard h1 {
        font-size: 15px;
    }
    .buyButton {
        bottom: 2px;
        width: 60px;
        height: 20px;
    }
    .buyButton p {
        font-size: 12px;
    }
    .itemExtraPictures {
        margin-top: 20px;
        height: 150px;
        width: 100%;
    }
    .itemExtraPictures img {
        width: 150px;
    }
    .aboutMeName {
        height: 70px;
    }
    .aboutMeName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .aboutMeContent {
        height: 200px;
    }
    .aboutMeContent img {
        width: 157px;
    }
    .aboutMeContent p {
        width: 400px;
        font-size: 10px;
    }
    .reviewName {
        height: 70px;
    }
    .reviewName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .review {
        margin-bottom: 20px;
    }
    .review img {
        width: 150px;
        height: 150px;
    }
    .review p {
        width: 400px;
        font-size: 10px;
    }
    .formBuyName {
        height: 70px;
    }
    .formBuyName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .form {
        width: 120px;
        min-height: 200px;
        padding: 10px 25px;
    }
    .form input {
        padding: 2px 3px;
        font-size: 10px;
        margin-bottom: 10px;
        border-radius: 2px;
    }
    .form textarea {
        padding:  2px 3px;
        font-size: 10px;
        min-height: 70px;
        border-radius: 2px;
    }
    .form .buyButton {
        bottom: 10px;
        width: 70px;
    }
    .form .buyButton p {
        font-size: 10px;
    }
    .formDescription {
        width: 400px;
    }
    .formDescription p {
        font-size: 10px;
    }
    .socials {
        bottom: 2px;
        height: 16px;
    }
    .link {
        margin-left: 16px;
    }
    .link img {
        margin-right: 5px;
    }
    .link p {
        font-size: 10px;
    }
    .footer {
        height: 50px;
    }
}
@media (min-width: 0px) and (max-width: 700px) {
    .item, .itemLine, .header {
        display: none;
    }
    .itemMobile, .headerMobile {
        display: block;
    }
    .headerMobile {
        display: flex;
    }
}
@media (min-width: 500px) and (max-width: 700px) {
    #app {
        width: 90vw;
    }
    .header {
        height: 70px;
    }
    .header h1 {
        font-size: 16px;
    }
    .headerPicture {
        height: 120px;
    }
    .headerPicture h1 {
        top: 10%;
        left: 50vw;
        font-size: 3vw;
        line-height: 1;
    }
    .headerPicture h2 {
        bottom: 2px;
        left: 50vw;
        font-size: 2vw;
    }
    .aboutMeName {
        height:50px;

    }
    .aboutMeName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .aboutMeContent {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    .aboutMeContent img {
        width: 70vw;
    }
    .aboutMeContent p {
        width: 400px;
        width: 90vw;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .reviewName {
        height: 50px;
    }
    .reviewName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .review {
        margin-bottom: 30px;
    }
    .review img {
        width: 120px;
        height: 120px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .review p {
        width: 100%;
        font-size: 12px;
    }
    .formBuy {
        align-items: center;
        width: 90vw;
    }
    .formBuyName {
        height: 50px;
    }
    .formBuyName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .formArea {
        flex-direction: column-reverse;
    }
    .form {
        width: 80vw;
        height: 190px;
        padding: 15px 5vw;
    }
    .form input {
        padding: 2px 3px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .form textarea {
        padding:  2px 3px;
        font-size: 20px;
        min-height: 150px;
        border-radius: 5px;
    }
    .form .buyButton {
        bottom: 20px;
        width: 150px;
        height: 40px;
    }
    .form .buyButton p {
        font-size: 20px;
    }
    .formDescription {
        width: 90vw;
    }
    .formDescription p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .socials {
        bottom: -45px;
        right: 0;
        height: 35px;
    }
    .social {
        margin-bottom:7px;
    }
    .link {
        margin-left: 10px;
    }
    .link img {
        margin-right: 0;
    }
    .link p {
        font-size: 15px;
        display: none;
    }
    .footer {
        z-index: -1;
        height: 100px;
    }
}
@media (min-width: 0px) and (max-width: 500px) {
    #app {
        width: 90vw;
    }
    .header {
        height: 50px;
    }
    .header h1 {
        font-size: 14px;
    }
    .headerPicture {
        height: 90px;
    }
    .headerPicture h1 {
        top: 10%;
        left: 50vw;
        font-size: 4vw;
        line-height: 1;
    }
    .headerPicture h2 {
        bottom: 2px;
        left: 50vw;
        font-size: 2.5vw;
    }
    .itemMobileName {
        height: 50px;
        width: auto;
        display: flex;
        align-items: center;
    }
    .itemMobileName h1 {
        font-size: 25px;
        color: var(--green);
        white-space: nowrap;
        line-height: 100%;
    }
    .itemMobilePictures {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .itemMobilePictures img {
        margin-bottom: 20px;
        width: 70vw;
        height: auto;
        object-fit: contain;
        border-radius: 15px;
    }
    .itemMobileDescription {
        width: 100%;
    }
    .itemMobileDescription p {
        color: black;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .itemMobileBuy {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .itemMobileBuy h1 {
        font-size: 25px;
        color: var(--green);
    }
    .itemMobileBuy .buyButton {
        position: relative;
        margin-top: 15px;
        width: 118px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--orange);
    }
    .itemMobileBuy .buyButton p {
        color: white;
        font-size: 20px;
        font-weight: 350;
    }
    .itemMobileLine {
        width: 100%;
        margin-top: 10px;
        border: 1px solid var(--orange);
        margin-bottom: 20px;
    }
    .aboutMeName {
        margin-top: 20px;
        height: 50px;
    }
    .aboutMeName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .aboutMeContent {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    .aboutMeContent img {
        width: 70vw;
    }
    .aboutMeContent p {
        width: 400px;
        width: 90vw;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .reviewName {
        height: 50px;
    }
    .reviewName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .review {
        margin-bottom: 30px;
    }
    .review img {
        width: 120px;
        height: 120px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .review p {
        width: 100%;
        font-size: 12px;
    }
    .formBuy {
        align-items: center;
        width: 90vw;
    }
    .formBuyName {
        height: 50px;
    }
    .formBuyName h1 {
        font-size: 30px;
        margin-right: 10px;
    }
    .formArea {
        flex-direction: column-reverse;
    }
    .form {
        width: 80vw;
        height: 190px;
        padding: 15px 5vw;
    }
    .form input {
        padding: 2px 3px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .form textarea {
        padding:  2px 3px;
        font-size: 20px;
        min-height: 150px;
        border-radius: 5px;
    }
    .form .buyButton {
        bottom: 20px;
        width: 150px;
        height: 40px;
    }
    .form .buyButton p {
        font-size: 20px;
    }
    .formDescription {
        width: 90vw;
    }
    .formDescription p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .socials {
        bottom: -45px;
        right: 0;
        height: 35px;
    }
    .social {
        margin-bottom:7px;
    }
    .link {
        margin-left: 10px;
    }
    .link img {
        margin-right: 0;
    }
    .link p {
        font-size: 15px;
        display: none;
    }
    .footer {
        z-index: -1;
        height: 100px;
    }
}