<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./image/logo.png">
    <title>Hand Stich</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <h1 @click="scrollClick('Джинсовый ремень из натуральной кожи')">Ремни</h1>
            <h1>&nbsp;·&nbsp;</h1>
            <h1 @click="scrollClick('Ретрокошелек с отделом под карты')">Кошельки</h1>
            <h1>&nbsp;·&nbsp;</h1>
            <h1 @click="scrollClick('Картхолдер с потайным карманом')">Картхолдеры</h1>
            <h1>&nbsp;·&nbsp;</h1>
            <h1 @click="scrollClick('Документ-органайзер портативного размера')">Органайзеры</h1>
            <h1>&nbsp;·&nbsp;</h1>
            <h1 @click="scrollClick('Кожаные часовые ремешки')">Часовые ремешки</h1>
            <img src="./image/logo.png" >
        </div>
        <div class="headerMobile">
            <img src="./image/burger.svg" class="burger" @click="headerMobileMenu = 'headerMobileMenuShow'">
            <img src="./image/logo.png" >
        </div>
        <div :class="headerMobileMenu">
            <div class="headerMobileMenuClose" @click="headerMobileMenu = 'headerMobileMenuHide'"><p>X</p></div>
            <div class="headerMobileMenuList">
                <h1 @click="scrollMobileClick('Джинсовый ремень из натуральной кожи')">Ремни</h1>
                <h1 @click="scrollMobileClick('Ретрокошелек с отделом под карты')">Кошельки</h1>
                <h1 @click="scrollMobileClick('Картхолдер с потайным карманом')">Картхолдеры</h1>
                <h1 @click="scrollMobileClick('Документ-органайзер портативного размера')">Органайзеры</h1>
                <h1 @click="scrollMobileClick('Кожаные часовые ремешки')">Часовые ремешки</h1>
            </div>
        </div>
        <div class="headerPicture">
            <img src="./image/1140_300.png">
            <h1>
                Изделия<br/>
                из премиальных<br/>
                сортов кожи. Hand Stich
            </h1>
            <h2>Ручная работа • Качество • Эксклюзив</h2>
        </div>
        <div class="content">
            <div class="item" v-for="item in items" :id="item.name">
                <div class="itemName">
                    <h1>{{ item.name }}</h1>&nbsp;&nbsp;
                    <div class="itemLine"></div>
                </div>
                <div class="itemMain">
                    <div class="scale">
                        <img :src="item.mainImage">
                    </div>
                    <div class="itemMainCard">
                        <p v-html="item.description"></p>
                        <h1>Стоимость: {{ item.price }}р.</h1>
                        <div class="buyButton" @click="buy(item.name)"><p>Купить ➤</p></div>
                    </div>
                </div>
                <div class="itemExtraPictures">
                    <div class="scale" v-for="image in item.extraImages">
                        <img :src="image">
                    </div>
                </div>
            </div>
            <div class="itemMobile" v-for="item in items" :id="'m' + item.name">
                <div class="itemMobileName">
                    <h1>{{ item.name }}</h1>
                </div>
                <div class="itemMobilePictures">
                    <img :src="item.mainImage">
                    <img :src="image" v-for="image in item.extraImages">
                </div>
                <div class="itemMobileDescription">
                    <p v-html="item.description"></p>
                </div>
                <div class="itemMobileBuy">
                    <h1>Стоимость: {{ item.price }}р.</h1>
                    <div class="buyButton" @click="buy(item.name)"><p>Купить ➤</p></div>
                </div>
                <div class="itemMobileLine"></div>
            </div>
        </div>
        <div class="aboutMe">
            <div class="aboutMeName">
                <h1>Моя мастерская</h1>
                <div class="itemLine"></div>
            </div>
            <div class="aboutMeContent">
                <img src="./image/aboutMe.png">
                <p>Здравствуйте . Меня зовут Иван и я автор всех кожаных изделий, которые представлены на этой
                    страничке. Занимаюсь этим ремеслом более 5 лет, за это годы попробовал различные артикулы кожи,
                    разных производителей. У меня нет помощников и менеджеров, я не использую механизированные
                    средства такие как швейные и двоильные машины. Все операции от раскроя, до обработки торца
                    производятся вручную.<br/><br/>
                    Сегодня я с уверенностью могу утверждать, что использую только самые лучшие сорта кож и самые
                    качественные материалы. Вся кожа растительного дубления, т.е. выделка шкур производились без
                    применения оксидов хрома и других хим. элементов, только естественными растительными
                    материалами. Это материалы из Италии, от фабрик входящих в консорциум. Нить это 100% лён,
                    скрученный из нескольких волокон, придает изысканный вид и законченность изделию.<br/><br/>
                    На все изделия предоставляется пожизненная гарантия, исключение составляют часовые ремешки,
                    что продиктовано гигиеническими соображениями.
                </p>
            </div>
        </div>
        <div class="reviews">
            <div class="reviewName">
                <h1>Отзывы о моих работах</h1>
                <div class="itemLine"></div>
            </div>
            <div class="review" v-for="review in reviews">
                <img :src="review.img">
                <p v-html="review.review"></p>
            </div>
        </div>
        <div class="formBuy" id="buy">
            <div class="formBuyName">
                <h1>Заказ и оплата</h1>
                <div class="itemLine"></div>
            </div>
            <div class="formArea">
                <div class="form" v-show="!isCompleteBuy">
                    <input type="text" placeholder="Наименование изделия" v-model="buyItem">
                    <input type="text" placeholder="Ваше имя">
                    <input type="text" placeholder="Телефон">
                    <textarea type="text" placeholder="Комментарий к заказу"></textarea>
                    <div class="buyButton" @click="completeOrder()"><p>Отправить ➤</p></div>
                </div>
                <div class="form" v-show="isCompleteBuy" style="display: none;">
                    <p class="completeBuy">Благодарим за заказ!</p>
                </div>
                <div class="formDescription">
                    <p>
                        Для заказа напишите Ваши контактные данные, и в ближайшее время я свяжусь с Вами и обсужу все
                        условия и вопросы. Порядок заказа включает в себя предоплату 50% в случае, вторую часть оплаты
                        Вы вносите по готовности изделия. Как правило срок изготовления составляет 3-4 рабочих дня. Перед
                        отправкой и оплатой я высылаю подробные фотографии готового изделия. Вы можете напрямую
                        Ваше Имя писать мне в телеграмм или в сообщения в социальную сеть Вонтакте.
                    </p>
                </div>
                <div class="socials">
                    <div class="social">
                        <a class="link" href="https://t.me/hand_stich">
                            <img src="./image/socials/tg.png">
                            <p>t.me/hand_stich</p>
                        </a>
                    </div>
                    <div class="social">
                        <a class="link" href="https://vk.com/handstich">
                            <img src="./image/socials/vk.png">
                            <p>vk.com/handstich</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer"></div>

    </div>
    <script type="text/javascript" src="./data/items.json"></script>
    <script type="text/javascript" src="./reviews/items.json"></script>
    <script src="./vue.min.js"></script>
    <script type="module" src="./js/index.js"></script>
</body>
</html>